#control-panel-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-between;
    margin: 0 auto 120px auto;
    height: 200px;
    background-color: #e8e8e8;
    box-shadow: 0px 1px 7px 0px #00000070;
}

#crypt-direction {
    width: 25%;
}

#crypt-direction img {
    display: block;
    float: right;
    height: 84px;
    cursor: pointer;
}

#control-panel {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(100% - 20px);
}

.panel {
    display: none;
    flex-flow: row wrap;
    align-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 25%;
}

.active-panel {
    display: flex;
}

#control-panel-tabs {
    margin: 0;
    width: 100%;
    background-color: #673ab7;
    color: #fff;
}

#ul-tabs {
    display: inline;
    list-style: none;
}

#ul-tabs li {
    float: left;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
}
#ul-tabs li:not(.active-tab):hover {
    background-color: #4a148c;
}

#output-type {
    width: 25%;
}

#output-type img {
    display: block;
    float: left;
    height: 84px;
    cursor: pointer;
}

.active-tab {
    background-color: #e8e8e8;
    color: #4a148c;
}

/*.active-tab:hover {*/
    /*background-color: #e8e8e8;*/
    /*color: #282828;*/
/*}*/