.container {
    margin: auto; 
    width: 50%;
}

#flex-container-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 500px;
}

#input, #output {
    margin: 10px;
    width: 45%;
    height: 400px;
}

#copy-btn {
    margin: auto 2vw auto auto;
}

#graph-container {
    display: none;
}

.btn {
    padding: 15px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.option-1 {
    margin: 0 12px;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #2e96cb;
}

.option-1:hover {
    background-color: #2e96cb;
    color: #ffffff;
}

.controlButton {
    display: flex;
    flex-direction: row;
    margin: 0 12px;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #2e96cb;
    cursor: pointer;
}

.controlButton label {
    padding: 8px;
    cursor: pointer;
    
}

.controlButton input {
    padding: 8px;
    cursor: pointer;
    transition: 0.2s;
    border-width: 0 0 0 1px;
    border-style: solid; 
    border-color:  #2e96cb;
    background-color: #e8e8e8;
    width: 50px;
}

.controlButton input:focus {
    background-color: #ffffff;
}

.pers-plac-input {
    display: block;
    position: relative;
    width: 215px;
}

.pers-plac-input .persistent-placeholder {
    z-index: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    color: silver;
    background-color: transparent;
    font-family: Consolas, 'Courier New', monospace;
    width: 90%;                                 /* These 90% widths are a quick fix to the inputs spilling into   */
}                                               /* the [→] button divs, can't see why that's happening ¯\_(ツ)_/¯ */

.pers-plac-input .actual-text-input {
    z-index: 1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;    
    background-color: transparent;
    font-family: Consolas, 'Courier New', monospace;
    width: 90%;
}

.pers-plac-input .actual-text-input:focus {
    background-color: transparent;
}

.controlButton div:last-child {
    padding: 8px;
    border-width: 0 0 0 1px;
    border-style: solid; 
    border-color:  #2e96cb;
}

.controlButton div:last-child:hover {
    background-color: #2e96cb;
    color: #ffffff;
}

body {
    margin: 0;
}