.container {
    margin: auto 25%;
}

#flex-container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
}

#input-output-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#input, #output {
    width: 47.5%;
    height: 400px;
}

#copy-btn {
    align-self: flex-end;
}

#graph-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#grid-container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

#return-btn {
    align-self: flex-start;
    margin-bottom: 20px;
}

#grid {
    border: 1px solid black;
    border-collapse: collapse;
}

#grid tr:nth-child(2n) {
    background-color: #e8e8e8;
}

#grid td {
    padding: 5px;
    text-align: center;
}

.btn {
    padding: 15px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.option-1 {
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #673ab7;
}

.option-1:hover {
    background-color: #673ab7;
    color: #ffffff;
}

.controlButton {
    display: flex;
    flex-direction: row;
    margin: 0 12px;
    padding: 0;
    border-radius: 2px;
    border: 1px solid #673ab7;
    cursor: pointer;
}

.controlButton label {
    padding: 8px;
    cursor: pointer;
    
}

.controlButton input {
    padding: 8px;
    cursor: pointer;
    transition: 0.2s;
    border-width: 0 0 0 1px;
    border-style: solid; 
    border-color:  #673ab7;
    background-color: #e8e8e8;
    width: 50px;
}

.controlButton input:focus {
    background-color: #ffffff;
}

.pers-plac-input {
    display: block;
    position: relative;
    width: 215px;
}

.pers-plac-input .persistent-placeholder {
    z-index: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    color: silver;
    background-color: transparent;
    font-family: Consolas, 'Courier New', monospace;
    width: 90%;                                 /* These 90% widths are a quick fix to the inputs spilling into   */
}                                               /* the [→] button divs, can't see why that's happening ¯\_(ツ)_/¯ */

.pers-plac-input .actual-text-input {
    z-index: 1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;    
    background-color: transparent;
    font-family: Consolas, 'Courier New', monospace;
    width: 90%;
}

.pers-plac-input .actual-text-input:focus {
    background-color: transparent;
}

.controlButton div:last-child {
    padding: 8px;
    border-width: 0 0 0 1px;
    border-style: solid; 
    border-color:  #673ab7;
}

.controlButton div:last-child:hover {
    background-color: #673ab7;
    color: #ffffff;
}

body {
    margin: 0;
}