#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
}

#input, #output {
    flex-grow: 1;
    margin: 10px;
}

#control-panel-container {
    margin: 0 0 120px 0;
    padding: 30px 25%;
    height: 9vh;
    background-color: #e8e8e8;
    box-shadow: 0px 1px 7px 0px #00000070;
}

#control-panel {
    display: flex;
    align-items: flex-start;
}

.option-1 {
    margin: 0 12px;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #2e96cb;
}

.option-1:hover {
    background-color: #2e96cb;
    color: #ffffff;
}

.option-2 {
    margin: 0 4px;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #2e96cb;
    background-color: #e8e8e8;
    width: 50px;
}

.option-2:focus {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.dropdown-content {
    display: none;
    border: 1px solid black;
    transition: 0.2s;
}

.dropdown-content div {
    display: block;
    padding: 1px 16px;
    text-align: center;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

.dropdown-content div:hover {
    background-color: #e8e8e8;
}

body {
    margin: 0;
}